@media screen and (max-width: 479px) {
.test img{
    height: 28px;
    margin-left: 10px;
}
.tube-image img {
	margin-top: 10px;
    width:auto;
    height: 28px;
}
.term li a{
	font-size: 12px;
}
.slide-area1{
	padding: 0px !important
}
}

@media (min-width: 480px) and (max-width: 767px) {
.test img{
    height:28px;
    margin-left: 10px;
}
.tube-image img {
	margin-top: 10px;
    width:auto;
    height: 28px;
}
.term li a{
	font-size: 12px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
.test img{
    height: 35px;
}
.tube-image{
	text-align: left;
}
.tube-image img {
    width:auto;
    height: 35px;
    margin-top:2px;
}
.term li a{
	font-size: 14px;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
.test img{
    height: 35px;
}
.tube-image{
	text-align: left;
}
.tube-image img {
    width:auto;
    height: 35px;
    margin-top: 2px;
}
.term li a{
	font-size: 14px;
}
}

@media (min-width: 1200px) and (max-width: 1439px) {
.test img{
    height: 35px;
    margin-left: 10px;
}
.tube-image{
	text-align: left;
}
.tube-image img {
    width:auto;
    height: 35px;
    margin-top: 2px;
}
.term li a{
	font-size: 14px;
}
}

@media (min-width: 1440px) and (max-width: 1679px) {
.test img{
    height:38px;
    margin-left: 10px;
}
.signup-nav{
	padding: 15px;
}
.login-space{
	padding:139px 15px 70px 15px;
}
.common-form{
	max-width: 500px;
}
.login-common{
	padding: 25px;
}
.signup-head h3{
	font-size: 26px;
	margin-bottom:20px;
}
.signup-form label{
	font-size: 18px;
}
.signup-form input{
	height: 42px;
	font-size:16px;
	margin-bottom: 20px;
}
.signup-form p{
	font-size: 16px;
}
.signup-submit{
	padding: 12px;
	font-size:16px;
	margin-bottom: 20px;
}
.footer1{
	padding: 15px;
}
.tube-image img {
    width:auto;
    height: 38px;
    margin-top: 2px;
}
.term li a{
	font-size: 16px;
}
.streamtube-nav{
	padding: 15px;
}
.y-menu{
	margin-top:68px;
}
.page-inner{
	margin-top: 78px;
}
.logo-img{
	max-width: 150px;
	height: 35px;
    vertical-align: middle;
    margin-top: 1px;
}
.toggle-icon{
	margin-top: 0;
	height: 28px;
}
.y-signin{
	font-size: 16px;
	margin-top: 2px;
}
.clear-button button{
	font-size: 16px;
	margin-bottom: 10px;
}
#custom-search-input .search-query{
	font-size: 16px;
}
.y-home img{
	height: 30px;
	width: 30px;
}
.y-home a, .menu4 p{
	font-size: 16px;
}
.y-home h3, .menu-foot h3, .menu-foot-head{
	font-size: 16px;
	line-height: 1.6;
}
.menu-foot img{
	height: 50px;
}
.menu4 button{
	padding:6px 15px;
    font-size: 16px;
}
.carousel-inner .item{
	background-size: cover;
	background-position: center;
	height: 300px;
	background-repeat:no-repeat;
	width: 100%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	width: 35px;
    height: 35px;
    margin-top: -10px;
    font-size: 35px;
}
.banner-slider{
	padding:0 60px;
	margin-top: 10px;
}
.slide-area{
	padding: 0 40px !important;
}
.slide-area1{
	padding: 0 25px !important;
}
.box-head h3{
	margin: 20px 0 20px 4px;
	font-size: 20px;
}
.slide-image{
	height: 130px !important;
}
.video_duration{
	font-size: 13px;
	padding: 6px;
}
.video-head a{
	font-size: 1.2em;
	line-height:24px;
	max-height: 44px;
	min-height: 44px;
	margin-bottom: 8px;
}
.video_views{
	font-size: 14px;
}
.slick-prev, .slick-next{
	height: 50px;
	width: 50px;
}
.slick-prev{
	left: -35px;
}
.slick-next{
	right: -35px;
}
.recom-box{
	margin-top:20px;
}
.recom-head h3{
	padding:20px 13px;
	padding-bottom: 0;
	margin:0;
}
.recom-details{
	height:92px;
}
.content-head h4{
	font-size: 20px;
	margin-top:10px;
	margin-bottom:20px;
}
.content-head{
	margin-bottom: 20px;
}
.history-image{
	max-height: 130px;
}
.history-head h5 a{
	font-size: 1.35em;
}
.history-head h5{
	margin-bottom: 8px;
}
.description p{
	font-size: 14px;
	margin-top: 6px;
	line-height: 20px;
	max-height: 38px;
	margin-bottom:8px;
}
.sub-list{
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.st_video_upload_btn{
	font-size: 15px;
	padding: 5px 15px;
}
.video-views-channel-name{
	margin-bottom: 6px;
}
.cross-mark1 i{
	font-size: 16px;
}
}

@media (min-width: 1680px) and (max-width: 1919px) {
.test img{
    height: 42px;
    margin-left: 10px;
}
.signup-nav{
	padding: 20px;
}
.login-space{
	padding:163px 15px 80px 15px;
}
.common-form{
	max-width: 600px;
}
.login-common{
	padding: 35px;
}
.signup-head h3{
	font-size: 30px;
	margin-bottom:25px;
}
.signup-form label{
	font-size: 20px;
	margin-bottom: 10px;
}
.signup-form input{
	height: 48px;
	font-size:18px;
	margin-bottom: 25px;
}
.signup-form p{
	font-size: 18px;
}
.signup-submit{
	padding: 15px;
	font-size:18px;
	margin-bottom: 25px;
}
.tube-image img {
    width:auto;
    height: 42px;
    margin-top: 2px;
}
.term li a{
	font-size: 18px;
}
.streamtube-nav{
	padding:20px;
}
.y-menu{
	margin-top:78px;
}
.page-inner{
	margin-top:98px;
}
.logo-img{
	max-width: 162px;
	height: 38px;
    vertical-align: middle;
    margin-top: 1px;
}
.toggle-icon{
	margin-top: 0;
	height:32px;
}
.y-signin{
	font-size: 18px;
    margin-top: 2px;
    padding: 10px 20px;
}
.clear-button button{
	font-size: 18px;
    padding: 10px 20px;
    margin-bottom: 15px;
}
#custom-search-input .search-query{
	font-size: 20px;
    height: 48px;
    margin-top: -4px;
}
.y-home img{
	height: 35px;
	width: 35px;
}
.y-home a{
	font-size: 20px;
}
.menu4 p{
	margin-top: 15px;
	font-size: 20px;
}
.y-home h3, .menu-foot h3, .menu-foot-head{
	font-size:20px;
	line-height: 1.8;
}
.menu-foot img{
	height:55px;
}
.menu4 button{
	padding:6px 15px;
    font-size:20px;
    margin-top:15px;
}
.carousel-inner .item{
	background-size: cover;
	background-position: center;
	height: 350px;
	background-repeat:no-repeat;
	width: 100%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	width:40px;
    height: 40px;
    margin-top: -10px;
    font-size: 40px;
}
.banner-slider{
	padding:0 70px;
	margin-top: 10px;
}
.slide-area{
	padding: 0 50px !important;
}
.slide-area1{
	padding: 0 35px !important;
}
.box-head h3{
	margin: 20px 0 20px 4px;
	font-size: 22px;
}
.slide-image{
	height: 150px !important;
}
.video_duration{
	font-size: 15px;
	padding: 8px;
}
.video-head a{
	font-size: 1.4em;
	line-height:26px;
	max-height: 51px;
	min-height: 51px;
	margin-bottom:10px;
}
.video_views{
	font-size: 16px;
}
.slick-prev, .slick-next{
	height: 60px;
	width: 60px;
}
.slick-prev{
	left: -40px;
}
.slick-next{
	right: -40px;
}
.slick-prev:before, .slick-next:before{
	font-size: 26px;
}
.recom-box{
	margin-top:20px;
}
.recom-head h3{
	padding:20px 13px;
	padding-bottom: 0;
	margin:0;
}
.recom-details{
	height:107px;
}
.content-head h4{
	font-size: 24px;
	margin-top:15px;
	margin-bottom:25px;
}
.content-head{
	margin-bottom: 25px;
}
.history-image{
	max-height: 140px;
}
.history-head h5 a{
	font-size: 1.5em;
}
.history-head h5{
	margin-bottom:15px;
}
.description p{
	font-size: 16px;
	margin-top: 11px;
    line-height: 24px;
    max-height: 45px;
    margin-bottom: 10px;
}
.sub-list{
	padding-bottom: 25px;
	margin-bottom: 25px;
}
.st_video_upload_btn{
	font-size:17px;
	padding:7px 20px;
}
.video-views-channel-name{
	margin-bottom:7px;
}
.cross-mark1 i{
	font-size: 18px;
}
}

@media (min-width: 1920px) and (max-width: 2559px) {
.test img{
    height: 44px;
    margin-left: 10px;
}
.signup-nav{
	padding: 20px;
}
.login-space{
	padding:175px 15px 90px 15px;
}
.common-form{
	max-width: 700px;
}
.login-common{
	padding: 45px;
}
.signup-head h3{
	font-size: 36px;
	margin-bottom:30px;
}
.signup-form label{
	font-size: 24px;
	margin-bottom: 15px;
}
.signup-form input{
	height: 54px;
	font-size:20px;
	margin-bottom: 30px;
}
.signup-form p{
	font-size: 20px;
}
.signup-submit{
	padding: 18px;
	font-size:20px;
	margin-bottom: 30px;
}
.tube-image img {
    width:auto;
    height: 44px;
    margin-top: 2px;
}
.term li a{
	font-size: 20px;
}
.streamtube-nav{
	padding:20px;
}
.y-menu{
	margin-top:88px;
}
.page-inner{
	margin-top:108px;
}
.logo-img{
	max-width: 192px;
    height: 45px;
    vertical-align: middle;
    margin-top:5px;
    margin-left: 20px;
}
.toggle-icon{
	margin-top:4px;
	height:40px;
}
.y-signin{
	font-size: 20px;
    margin-top: 2px;
    padding: 13px 30px;
}
.clear-button button{
	font-size: 20px;
    padding: 13px 30px;
    margin-bottom: 20px;
}
#custom-search-input .search-query{
	font-size: 20px;
    height: 54px;
    margin-top: -1px;
}
.y-home img{
	height:40px;
	width:40px;
}
.y-home a{
	font-size: 22px;
	padding:15px 40px;
}
.menu4 p{
	margin-top: 20px;
	font-size: 22px;
}
.y-home h3, .menu-foot h3, .menu-foot-head{
	font-size:22px;
	padding: 20px 40px;
	line-height:2;
}
.menu-foot img{
	height:60px;
}
.menu4 button{
	padding:6px 15px;
    font-size:22px;
    margin-top:20px;
}
.menu-foot li{
	padding: 0 40px;
}
.nav-space{
	padding: 0 40px;
}
.carousel-inner .item{
	background-size: cover;
	background-position: center;
	height:400px;
	background-repeat:no-repeat;
	width: 100%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	width: 45px;
    height: 45px;
    margin-top: -10px;
    font-size: 45px;
}
.banner-slider{
	padding:0 80px;
	margin-top: 10px;
}
.slide-area{
	padding: 0 60px !important;
}
.slide-area1{
	padding: 0 45px !important;
}
.box-head h3{
	margin: 25px 0 25px 4px;
	font-size: 25px;
}
.slide-image{
	height: 180px !important;
}
.video_duration{
	font-size: 17px;
	padding:10px;
}
.video-head a{
	font-size: 1.6em;
	line-height:28px;
	max-height: 56px;
	min-height: 56px;
	margin-bottom:15px;
}
.video_views{
	font-size: 18px;
}
.slick-prev, .slick-next{
	height: 70px;
	width: 70px;
}
.slick-prev{
	left: -50px;
}
.slick-next{
	right: -50px;
}
.slick-prev:before, .slick-next:before{
	font-size: 30px;
}
.recom-box{
	margin-top:25px;
}
.recom-head h3{
	padding:25px 13px;
	padding-bottom: 0;
	margin:0;
}
.recom-details{
	height:123px;
}
.content-head h4{
	font-size: 28px;
	margin-top:20px;
	margin-bottom:30px;
}
.content-head{
	margin-bottom:30px;
}
.history-image{
	max-height:160px;
}
.history-head h5 a{
	font-size: 1.75em;
}
.history-head h5{
	margin-bottom:15px;
}
.description p{
	font-size: 20px;
	margin-top:10px;
	line-height: 28px;
	max-height: 53px;
	margin-bottom: 12px
}
.sub-list{
	padding-bottom:30px;
	margin-bottom: 30px;
}
.st_video_upload_btn{
	font-size:19px;
	padding:10px 20px;
}
.video-views-channel-name{
	margin-bottom:9px;
}
.cross-mark1 i{
	font-size:20px;
}
}

@media screen and (min-width: 2560px){
.test img{
    height: 44px;
    margin-left: 10px;
}
.signup-nav{
	padding: 20px;
}
.login-space{
	padding:175px 15px 90px 15px;
}
.common-form{
	max-width: 780px;
}
.login-common{
	padding:50px;
}
.signup-head h3{
	font-size:40px;
	margin-bottom:30px;
}
.signup-form label{
	font-size: 26px;
	margin-bottom: 15px;
}
.signup-form input{
	height: 58px;
	font-size:22px;
	margin-bottom: 35px;
}
.signup-form p{
	font-size: 22px;
}
.signup-submit{
	padding:20px;
	font-size:22px;
	margin-bottom: 35px;
}
.tube-image img {
    width:auto;
    height: 44px;
    margin-top: 2px;
}
.term li a{
	font-size: 22px;
}
.streamtube-nav{
	padding:20px;
}
.y-menu{
	margin-top:88px;
}
.page-inner{
	margin-top:108px;
}
.logo-img{
	max-width: 192px;
    height: 45px;
    vertical-align: middle;
    margin-top:5px;
    margin-left: 20px;
}
.toggle-icon{
	margin-top:4px;
	height:40px;
}
.y-signin{
	font-size: 20px;
    margin-top: 2px;
    padding: 13px 30px;
}
.clear-button button{
	font-size: 20px;
    padding: 13px 30px;
    margin-bottom: 20px;
}
#custom-search-input .search-query{
	font-size: 20px;
    height: 54px;
    margin-top: -1px;
}
.y-home a{
	font-size: 22px;
	padding: 15px 40px;
}
.menu4 p{
	margin-top: 20px;
	font-size: 22px;
}
.y-home h3, .menu-foot h3, .menu-foot-head{
	font-size:22px;
	line-height:2;
}
.menu-foot img{
	height:60px;
}
.menu4 button{
	padding:6px 15px;
    font-size:22px;
    margin-top:20px;
}
.y-home img{
	height:40px;
	width:40px;
}
.y-home a{
	font-size: 22px;
	padding: 20px 40px;
}
.menu4 p{
	margin-top: 20px;
	font-size: 22px;
}
.y-home h3, .menu-foot h3, .menu-foot-head{
	font-size:22px;
	padding: 20px 40px;
	line-height:2;
}
.menu-foot img{
	height:60px;
}
.menu4 button{
	padding:6px 15px;
    font-size:22px;
    margin-top:20px;
}
.menu-foot li{
	padding: 0 40px;
}
.nav-space{
	padding: 0 40px;
}
.carousel-inner .item{
	background-size: cover;
	background-position: center;
	height:400px;
	background-repeat:no-repeat;
	width: 100%;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
	width: 45px;
    height: 45px;
    margin-top: -10px;
    font-size: 45px;
}
.banner-slider{
	padding:0 80px;
	margin-top: 10px;
}
.slide-area]{
	padding: 0 60px !important;
}
.slide-area1{
	padding: 0 45px !important;
}
.box-head h3{
	margin: 25px 0 25px 4px;
	font-size: 25px;
}
.slide-image{
	height: 180px !important;
}
.video_duration{
	font-size: 17px;
	padding:10px;
}
.video-head a{
	font-size: 1.6em;
	line-height:28px;
	max-height: 56px;
	min-height: 56px;
	margin-bottom:15px;
}
.video_views{
	font-size: 18px;
}
.slick-prev, .slick-next{
	height: 70px;
	width: 70px;
}
.slick-prev{
	left: -50px;
}
.slick-next{
	right: -50px;
}
.slick-prev:before, .slick-next:before{
	font-size: 34px;
}
.recom-box{
	margin-top:20px;
}
.recom-head h3{
	padding:20px 13px;
	padding-bottom: 0;
	margin:0;
}
.recom-details{
	height:123px;
}
.content-head h4{
	font-size: 28px;
	margin-top:20px;
	margin-bottom:30px;
}
.content-head{
	margin-bottom:30px;
}
.history-image{
	max-height:160px;
}
.history-head h5 a{
	font-size: 1.75em;
}
.history-head h5{
	margin-bottom:15px;
}
.description p{
	font-size: 20px;
	margin-top:10px;
	line-height: 28px;
	max-height: 53px;
	margin-bottom: 12px;
}
.sub-list{
	padding-bottom:30px;
	margin-bottom: 30px;
}
.st_video_upload_btn{
	font-size:19px;
	padding:10px 20px;
}
.video-views-channel-name{
	margin-bottom:9px;
}
.cross-mark1 i{
	font-size:20px;
}
}